.list {
    margin: 20px;
}

.list p {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.list li {
    margin-left: 10px;
}

.list li a {
    text-decoration: none;
    color: blueviolet;
    transition: 0.25s;
}

.list li a:hover {
    text-decoration: none;
    color: rgb(80, 26, 131);
    transition: 0.25s;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgb(51, 109, 156);
    color: white;
    text-align: left;
}

.footer p a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.footer p a:hover {
    color: rgb(180, 180, 180);
    transition: 0.25s;
}